main
  .container.community-container
    .community-title
      p Community
    .community-question-title-container
      .community-question-title-layout
        .community-question-title
          p Make nested directory structure recursively
        .community-question-title-info
          p Kori 
          p 2020-08-19 
          img(src='' alt='')
          p 614
    .community-question-content-container
      .community-question-content
        p
          | I have a data frame expressed in a bar chart.. I have a data frame expressed in a bar chartI have a data
          | frame
          | expressed in a bar chartI have a data frame expressed in a bar chartI have a data frame expressed in a bar
          | chartI have a data frame expressed in a bar chartI have a data frame expressed in a bar chartI have a data
          | frame expressed in a bar chartI have a data frame expressed in a bar chartI have a data frame expressed in a
          | bar chartI have a data frame expressed in a bar chartI have a data frame expressed in a bar chartI have a
          | data
          | frame expressed in a bar chartI have a data frame expressed in a bar chartI have a data frame expressed in a
          | bar chartI have a data frame expressed in a bar chartI have a data frame expressed in a bar chartI have a
          | data
          | frame expressed in a bar chart
        .community-question-tag-layout
          button.btn.btn-secondary(type='button') Ruby
          button.btn.btn-secondary(type='button') Server
          button.btn.btn-secondary(type='button') Go
      .community-question-attachment
        p attachment
        span No file
      .community-question-post
        .community-question-post-sum
          span.community-question-post-sum-number 2
          span.community-question-post-sum-text Answers
        .community-question-post-form
          form.row.g-3
            .col-md-3
              label.form-label(for='inputName') Name
              input#inputEmail4.form-control(type='email')
            .col-md-3
              label.form-label(for='inputPassword') Password
              input#inputPassword4.form-control(type='password')
            .col-mb-3
              label.form-label(for='exampleFormControlTextarea1')
              textarea#exampleFormControlTextarea1.form-control(rows='3')
            .community-question-post-form-button
              button.btn.btn-danger(type='button') Post your answer
      .community-question-comments
        .community-question-comment
          p.community-question-comment-info
            span#author Lee
            span#uploaded-time 2020-03-14
          span.community-question-comment-content Try Again~
        .community-question-comment
          p.community-question-comment-info
            span#author Kim
            span#uploaded-time 2020-03-14
          span.community-question-comment-content Ok !!
    .community-question-list-location
      a(href='community.html')
        button.btn.btn-light(type='button') List
