extends layout

block content
  main
  .contactus_home
    .contactus.p-5
      .contactus-content.p-5.text-center
        .contactus-title
          h1#font-red
            strong Contact Us
        .contactus_text.mt-4
          p
            | Do you have any questions about Data Infuser? 
            br
            |                             Send us a message here. We&apos;d love to hear from you.
      .contact-form_position.col-sm-5.mb-5.shadow
        .contact-form
          form.gform(method='POST' data-email='banggi1124@gmail.com' action='https://script.google.com/macros/s/AKfycbyBm8xpXFd543fXMVhC5Edum9pmSS1YOu6KuHzMWg/exec')
            // gform 연결하기 나중에 프람텍연결
            .row
              .col
                label.form-label(for='exampleFormControlInput1') First name
                input.form-control(type='text' placeholder='First name' aria-label='First name' name='name')
              .col
                label.form-label(for='exampleFormControlInput1') Last name
                input.form-control(type='text' placeholder='Last name' aria-label='Last name')
            .mb-3.pt-3
              label.form-label(for='exampleFormControlInput1')
                | Email
                span.font-red *
              input#exampleFormControlInput1.form-control(type='email' placeholder='Your Email' required='' name='email')
            .mb-3.pt-2
              label.form-label(for='exampleFormControlTextarea1')
                | Message
                span.font-red *
              textarea#exampleFormControlTextarea1.form-control(required='' rows='3' name='message')
            button.btn.btn-dark.contact(type='submit' style='width: 200px; height:40px; border:0; outline:0; border-radius: 12px; margin-top:10px; background: \
            #b5223e;') Submit
            script(src='../public/jsp/contact.js')
