main
  .container-fluid
    .docs-banner
      .docs_title.p-5.text-center(data-aos='zoom-out' data-aos-duration='1700')
        h1#font-red.banner_title.mb-4 How to use?
        p.banner_text
          | This page is the Data Infuser&apos;s User Manual. 
          br
          | The manual details how to create and manage APIs with Data Infuser.
          br
          | Anyone can download the PDF.
    .docs-2_manual.text-center.p-5.mt-5.mb-5
      .manual.container.shadow.col-sm-4
        .manual-title
          h1 Data Infuser manual
          p User&apos;s manual - how to use Data Infuser
        a(href='../public/manual/data_infuser_manual.pdf')
          button.download.p-3.btn.mt-3(type='button')
            | PDF
