extends layout

block content
  main
  .main_home
    .main-main_top
      .main-main_title.text-center
        h1#bold Open-source API Generator
      .main-main_text.m-4.text-center
        p
          | Converts raw data to REST API. 
          br
          | Provides convenient API management and efficient deployment.
          br
          storng#font-red Everything you need is in the Data Infuser.
      .main-maintop_buttons.p-4.text-center
        .row.justify-content-md-center
          .col-md-auto
            a(href='https://github.com/Data-Infuser' target='_blank')
              button#github_button.btn.btn-primary.p-3.shadow Github &gt;
          .col-md-auto
            a(href='contact_us.html')
              button#contact_button.btn.btn-primary.p-3.shadow Contact &gt;
      .main-main_video.p-4
        .main-video_icon
          a(href='public/video/main_video.mp4' target='_blank')
            img.video-icon(src='/images/01.main/play button.png' data-aos='zoom-out' data-aos-duration='500')
        .main-main_image
    .main-about
      .main-about_top.text-center(data-aos='fade-down' data-aos-duration='1700')
        .main-about_title.mb-4
          h2#bold About
        .main-about_text
          h4
            strong Free, Convenient, and Proven API Generator
    .main-about_bg
      .main-about_context.container.p-5(data-aos='fade-down' data-aos-duration='1700')
        .row.justify-content-md-center.align-items-center
          .main-about_text.col-sm-5.text-center
            img.about_img(src='/images/01.main/04.about.png')
          .about_text.col-sm-5
            p
              | Data Infuser is an open-source API generator that transforms files
              | or DBMS into REST API. By Data Infuser, you can easily develop API without coding and
              | administer and distribute your API. 
              br
              br
              | In addition, Data Infuser guarantees high accessibility, light and rapid performance,
              | and solid security. Currently, Data Infuser is adopted by many data-related businesses
              | and has endless possibilities to be used in the future.
      .main-use.container.p-5(data-aos='fade-down' data-aos-duration='1700')
        .main-use_title.text-center.mt-5
          h2
            strong
              | Why you should use 
              span#font-red Data Infuser
        .main-use_contents.mt-5
          .row.justify-content-md-center
            .use_contents.col-sm-4.text-center
              img.main-use_icon.mb-5(src='/images/01.main/05.icon1.png')
              h4 Open-source
              p
                | Free software environment for 
                br
                | API creation and management
            .use_contents.col-sm-4.text-center
              img.main-use_icon.mb-5(src='/images/01.main/06.icon2.png')
              h4 Easy to use
              p
                | FInstantly produces a fully 
                br
                | documented REST API
            .use_contents.col-sm-4.text-center
              img.main-use_icon.mb-5(src='/images/01.main/07.icon3.png')
              h4 Convenient Management
              p
                | Monitors your API 
                br
                | with the Manager tool
    .main-experience.container.p-5.mt-5(data-aos='fade-down' data-aos-duration='1700')
      .main-experience_title.text-center.mt-5.p-3
        h2
          strong
            | Make an amazing experience with 
            span#font-red Data Infuser
      .main-experience_text.text-center.mt-1
        p
          | Today, Data Infuser is being leveraged by many data-related businesses. 
          br
          | It is provided in Open API services of 14 public institutions including Public Data Portal,
          br
          | Ministry of Foreign Affairs, and National Cancer Center. 
          br
          br
          | With Data Infuser, you can easily manage from API creation to deployment.
      .main-company_imgs
        .row.align-items-center.row-cols-2.row-cols-lg-5.g-lg-4
          div(data-aos='flip-left' data-aos-duration='1000')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center01.png')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center02.png' style='max-width: 70%; height: 20%; margin: 7%;')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center03.png' style='max-width: 70%; height: 16%; margin: 7%;')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center04.png' style='max-width: 66%; height: 3%; margin: 5%;')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center05.png' style='max-width: 70%; height: 35%; margin: 13%;')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center06.png' style='max-width: 80%; height: 100%; margin: 10%;')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center07.png' style='max-width: 65%; height: 30%; margin: 7%;')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center08.png')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center09.png')
          div(data-aos='flip-left' data-aos-duration='1400')
            .col
              #company_image.p-3.text-center.shadow
                img#c-img(src='/images/01.main/center10.png')
    .main-contact.p-5.mt-5
      .main-contact_contents.container(data-aos='fade-left' data-aos-duration='1700' style='display: flex; flex-wrap: wrap; ')
        .main-contact_title
          div
            h2#font-red
              strong Contact Us
            br
            p
              | Do you have any questions about Data Infuser?
              br
              | Send us a message here. 
              br
              | We&apos;d love to hear from you.
        .contact_form
          #form-width
            form.gform(method='POST' data-email='banggi1124@gmail.com' action='https://script.google.com/macros/s/AKfycbyBm8xpXFd543fXMVhC5Edum9pmSS1YOu6KuHzMWg/exec')
              .row
                .col
                  label.form-label(for='exampleFormControlInput1') First name
                  input.form-control(type='text' placeholder='First name' aria-label='First name' name='name')
                .col
                  label.form-label(for='exampleFormControlInput1') Last name
                  input.form-control(type='text' placeholder='Last name' aria-label='Last name')
              .mb-3.pt-3
                label.form-label(for='exampleFormControlInput1')
                  | Email
                  span.font-red *
                input#exampleFormControlInput1.form-control(type='email' placeholder='Your Email' required='' name='email')
              .mb-3.pt-2
                label.form-label(for='exampleFormControlTextarea1')
                  | Message
                  span.font-red *
                textarea#exampleFormControlTextarea1.form-control(required='' rows='3' name='message')
              button.btn.btn-dark.contact(type='submit' style='width: 200px; height:40px; border:0; outline:0; border-radius: 12px; margin-top:10px; background: \
              #b5223e;') Submit
              script(src='/jsp/contact.js')
