footer
  .footer_section.p-5
    .container.mt-3
      img.pb-3.footer_img(src='/images/01.main/footer_logo.png')
      p
        | Name: Prompt Technology CEO: Jonghoon Chun, Ph.D.
        br
        | Address: Nonhyeon-ro 81-gil 12, Gangnam-gu, Seoul (Yeoksam-dong, Jo &amp; Lee Building)
        br
        | Contact: (t) 02-553-6441 (f) 02-553-6442 Email: promptech@promptech.co.kr

    