header.sticky-top
  nav.navbar.navbar-expand-md.navbar-light.bg-light.shadow(style='background-color: white;')
    .container
      a.navbar-brand(href='../index.html')
        img(src='/images/01.main/01.logo.png' alt='' width='130' height='36' style='margin-bottom: 17px;')
      button.navbar-toggler.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='flase' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-lg-0
          li.nav-item
            a.nav-link(aria-current='page' href='../features.html') Features
          li.nav-item
            a.nav-link(aria-current='page' href='../community/community.html') Community
          li.nav-item.dropdown
            a#navbarDropdown.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Docs
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='../docs-1.html') What is Data Infuser?
              li
                a.dropdown-item(href='../docs-2.html') How to use?
        ul.nav.navbar-nav.navbar-right
          li.nav-item
            a.nav-link(aria-current='page' href='../contact_us.html') Contact Us
          li.nav-item
            a.nav-link(style='color:#b5223e;' aria-current='page' href='../login/signin.html') Sign In
          li.getstarted-button(style='margin-left: 10px;')
            a(href='https://github.com/Data-Infuser' target='_blank')
              button.btn.btn-dark(type='button' style='width: 170px; height:40px;border:0; outline:0; border-radius: 12px; background: \
              #b5223e;') Get Started